@import "../styles/size";
@import "../styles/mixins";

.templateContainer {
  max-width: $content-max-width;
  padding: 50px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
