.search {
  position: relative;
  svg {
    position: absolute;
    left: 10px;
    height: 100%;
  }
  input {
    border: 1px solid var(--lg-dark-gray);
    border-radius: 5px;
    font-size: var(--text-md);
    outline: none;
    padding: 12px 10px 12px 40px;
    width: 650px;
    color: var(--lg-light-black);
    background-color: var(--lg-white);
  }
}
