@import "../../styles/size";

.header {
  min-height: $header-min-height;
  max-height: $header-max-height;
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    filter: brightness(0.5) contrast(0.9);
    transform: scale(1.01, 1.01);
    height: 100%;
    width: 100%;
    animation-name: growShrink;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
  }
}

@keyframes growShrink {
  0% {
    filter: brightness(0.7) contrast(0.9);
    opacity: 0.5;
    transform: scale(1, 1);
  }

  100% {
    filter: brightness(0.5) contrast(0.9);
    opacity: 1;
    transform: scale(1.01, 1.01);
  }
}
