@import "../../styles/size";

.navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 0;
  height: $navbar-height;
}

.navbarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  width: 100%;
}

.navbarTitle {
  color: var(--nav-white);
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  text-decoration: none;
}

.navbarLinks {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.navbarItem {
  color: var(--nav-white);
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  text-decoration: none;
  &:hover {
    color: var(--nav-lightest-gray);
  }
}
