@import "../../styles/size";

.navbar {
  z-index: 100;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: fixed;
  top: 0;
  height: $navbar-height;
  a {
    color: var(--default-white);
    &:hover {
      color: var(--default-lightest-gray);
    }
  }
  &[data-scroll="true"] {
    background: var(--default-white);
    opacity: 0.9;
    transition: all 0.3s;
    box-shadow: rgba(149, 157, 165, 0.2) 0 4px 2px -2px;
    a {
      color: var(--default-black);
      &:hover {
        color: var(--default-light-black);
      }
    }
    &[data-light="false"] {
      background: var(--default-light-black);

      a {
        color: var(--default-white);
        &:hover {
          color: var(--default-lightest-gray);
        }
      }
    }
  }
}

.navbarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: $content-max-width;
  width: 100%;
}

.navbarTitle {
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  text-decoration: none;
}

.navbarLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.navbarItem {
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  text-decoration: none;
}
