.themeSwitch {
  border-radius: 50%;
  padding: 3px 5px;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: -2px;
  background: none;
  svg {
    margin-bottom: -1px;
  }
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  &[data-light="false"] {
    svg {
      padding: 5px 2px 0 2px;
    }
  }
}
