.listTitle {
  font-size: var(--text-md);
  font-weight: var(--font-normal);
  color: var(--lg-darker-gray);
  margin-top: 0;
}

.emptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  color: var(--lg-light-black);
}
